@define-color text #e0def4;
@define-color text_inactive #908caa;
@define-color bg rgba(25, 23, 36, 0.75);
@define-color bg_alert rgba(235, 111, 146, 0.75);
@define-color text_alert #191724;
@define-color bg_hover rgba(246, 193, 119, 0.75);
@define-color text_hover @text_alert;

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: @bg;
}

#workspaces button {
    transition: none;
    color: @text_inactive;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: @text_inactive;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @text_hover;
    background: @bg_hover;
}

#workspaces button.active {
    color: @text;
}

#window {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#language {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @text;
    background: @bg;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @text;
    background: @bg;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#network {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#network.disconnected {
    color: @text_alert;
    background: @bg_alert;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @text;
    background: @bg;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#pulseaudio.muted {
    background-color: @bg_alert;
    color: @text_alert;
}

#cpu {
    margin-right: 0px;
    padding-left: 16px;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#memory {
    margin-left: 0px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @text;
    background: @bg;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @text;
    background: @bg;
}

#custom-powerbutton {
    margin-right: 8px;
    padding-left: 14px;
    padding-right: 18px;
    border-radius: 10px;
    transition: none;
    color: @text_alert;
    background: @bg_alert;
}

#battery {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 24px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @text;
    background: @bg;
}

#battery.charging {
    color: #ff0000;
    background: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
}

@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}
