[Unit]
Description=Google Drive (rclone)
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir -p "%h/Google Drive"
ExecStart=/usr/bin/rclone mount gdrive: "%h/Google Drive"
ExecStop=/usr/bin/fusermount -u "%h/Google Drive"
RestartSec=10

[Install]
WantedBy=default.target
